.custom-icon {
  color: #000;
}

.login {
  background: url(../assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 2;

}

